@using DataAccess.Models
@using ODIN_CMS.Models
@model TeacherInfoViewModel

@{
    var TeacherInfo = Model.Teacher;
    var MerchantList = Model.ListMerchant;
}
@if (IdentityHelper.GroupID <= 3)
{
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (TeacherInfo != null && TeacherInfo.TeacherID > 0)
                {
                    <h4 class="modal-title" id="myModalLabel33">Cập nhật thông tin giáo viên</h4>
                }
                else
                {
                    <h4 class="modal-title" id="myModalLabel33">Thêm mới giáo viên </h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <form class="form form-horizontal" id="defaultForm" method="post">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="txtFullname" class="col-sm-2 col-form-label">Họ và tên </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="txtFullname" maxlength="100" name="fullname" value="@TeacherInfo.FullName" class="form-control" placeholder="Nhập tên đầy đủ" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="txtEmail" name="Email" maxlength="150" value="@TeacherInfo.Email" class="form-control" placeholder="Nhập địa chỉ Email" data-rule-required="true" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPhone" class="col-sm-2 col-form-label">Số điện thoại</label>
                                        <div class="col-sm-10">
                                            <input type="number" id="txtPhone" name="phonenumber" maxlength="20" value="@TeacherInfo.PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtCmnd" class="col-sm-2 col-form-label">Số CMND</label>
                                        <div class="col-sm-10">
                                            <input type="number" id="txtCmnd" name="cmnd" maxlength="20" class="form-control" placeholder="Nhập số CMND" value="@TeacherInfo.CmndNum"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DateBy" class="col-sm-2 col-form-label">Ngày cấp</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="date" id="DateBy" value="@TeacherInfo.DateBy" data-format="dd/MM/yyyy">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtIssuedBy" class="col-sm-2 col-form-label">Nơi cấp</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="txtIssuedBy" name="IssuedBy" maxlength="100" class="form-control" placeholder="Nhập nơi cấp" value="@TeacherInfo.IssuedBy"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtConfirmPass" class="col-sm-2 col-form-label">Trạng thái</label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                @if (TeacherInfo.Status == 1)
                                                {<input type="checkbox" id="cbxIsActive" checked="checked" style="opacity:1;left:5px;" />}
                                                else
                                                {<input type="checkbox" id="cbxIsActive" style="opacity:1;left:5px;" />}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cmnd" class="col-sm-2 col-form-label">CMND</label>
                                        <div class="col-sm-10">
                                            <ul class="mailbox-attachments clearfix">
                                                <li>
                                                    <div class="mailbox-attachment-info">
                                                        <img src="@TeacherInfo.Cmnd_After" id="imgUrl_1" alt="Ảnh mặt trước" style="width:120px;height:100px; display:none"/>
                                                        @*<a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i><label id="cmndUrl_1"></label></a>*@
                                                        <input type="file" id="file_cmnd_1" name="imageUrl" style="display:none"/>
                                                        <span class="mailbox-attachment-size">
                                                            Ảnh mặt trước
                                                            <a href="javascript:;" class="btn btn-primary btn-xs pull-right" onclick="UpCmnd_1();"><i class="fa fa-cloud-upload"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mailbox-attachment-info">
                                                        <img src="@TeacherInfo.Cmnd_Before" id="imgUrl_2" alt="Ảnh mặt sau" style="width:120px;height:100px; display:none" />
                                                        @*<a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i><label id="cmndUrl_2"></label></a>*@
                                                        <input type="file" id="file_cmnd_2" name="imageUrl2" style="display:none" />
                                                        <span class="mailbox-attachment-size">
                                                            Ảnh mặt sau
                                                            <a href="javascript:;" class="btn btn-primary btn-xs pull-right" onclick="UpCmnd_2()"><i class="fa fa-cloud-upload"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtAvatar" class="col-sm-2 col-form-label">Avatar</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" value="" id="txtAvatar" value="@TeacherInfo.ImagePath"/>
                                            <input type="file" id="avatar" class="form-control" value="@TeacherInfo.ImagePath">
                                        </div>
                                    </div>
                                    @if (IdentityHelper.MerchantID == 1)
                                    {
                                        <div class="form-group row">
                                            <label for="txtConfirmPass" class="col-sm-2 col-form-label">Chọn cơ sở :</label>
                                            <div class="col-sm-10">
                                                <select class="form-select form-control select2" id="ddlMerchantInfo">
                                                    @if (MerchantList != null && MerchantList.Count > 0)
                                                    {
                                                        if (TeacherInfo.TeacherID > 0)
                                                        {
                                                            <option value="@ViewBag.MerchantID" selected="selected">@ViewBag.MerchantName</option>
                                                        }
                                                        foreach (var item in MerchantList)
                                                        {
                                                            <option value="@item.MerchantID">@item.MerchantName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="SaveData();">Save changes</button>
                        </div>
                        <input type="hidden" value="@TeacherInfo.TeacherID" id="txtTeacherID" />

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- /.modal -->

}

<script type="text/javascript">
    $(document).ready(function () {
        var str1 = '@TeacherInfo.Cmnd_After';
        var str2 = '@TeacherInfo.Cmnd_Before';
        if (str1.length > 0)
            $('#imgUrl_1').css("display", "block");
        if (str2.length > 0)
            $('#imgUrl_2').css("display", "block");
        $('#avatar').on('change', function () {
            //var imgUrl = $('#fileInput').val().replace(/.*(\/|\\)/, '');
            if (window.FormData !== undefined) {
                var fileUpload = $("#avatar").get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('ImageUrl', "Mana");

                $.ajax({
                    url: UrlRoot + 'Teacher/UploadFileAvatar',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        $("#txtAvatar").val(result.fileName);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });

    function UpCmnd_1() {
        $('#file_cmnd_1').click();
    }

    function UpCmnd_2() {
        $('#file_cmnd_2').click();
    }

    function handleFiles() {
        if (!this.files.length) {
            bootbox.alert("No files selected!");
        } else {

            var file = this.files[0];
            var form_data = new FormData();
            form_data.append("file_name", file_data);

            $.ajax({
                type: 'POST',
                url: UrlRoot + "Teacher/UploadFileCmnd",
                data: param,
                async: true,
                success: function (data) {
                    debugger;
                    utils.unLoading();
                    if (data.responseCode >= 0) {
                        $('#PopupThongBao').modal('hide');
                        bootbox.alert(data.responseDesc);
                        setTimeout(function () { GetList(); }, 2500);
                    }
                    else {
                        bootbox.alert(data.responseDesc);
                    }
                }
            });
        }
    }

    $('#file_cmnd_1').on('change', function () {
        //var imgUrl = $('#fileInput').val().replace(/.*(\/|\\)/, '');
        if (window.FormData !== undefined) {
            var fileUpload = $("#file_cmnd_1").get(0);
            var files = fileUpload.files;
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('ImageUrl', "Mana");

            $.ajax({
                url: UrlRoot + 'Teacher/UploadFileCmnd',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    $('#imgUrl_1').attr("src", result.fileName);
                    $('#imgUrl_1').css("display", "block");
                   // $('#cmndUrl_1').html(result.fileName);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    $('#file_cmnd_2').on('change', function () {
        //var imgUrl = $('#fileInput').val().replace(/.*(\/|\\)/, '');
        if (window.FormData !== undefined) {
            var fileUpload = $("#file_cmnd_2").get(0);
            var files = fileUpload.files;
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('ImageUrl', "Mana");

            $.ajax({
                url: UrlRoot + 'Teacher/UploadFileCmnd',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    $('#imgUrl_2').attr("src", result.fileName);
                    $('#imgUrl_2').css("display", "block");
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });


</script>